
.background-container {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .book {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .book-shadow {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  }
  

  .book {
    width: 200px; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    /* ... Other styles ... */
  }
  
  .book-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* or object-fit: contain; based on requirements */
  }
  
  .book-cover.flipped {
    transform: rotateY(180deg);
  }
  
  .book .book-info {
    display: none;
  }
  
  .book.open .book-info {
    display: block;
  }
  
  

  .book-cover {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
  }
  
  .book-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    position: relative;
  }
  
  .book-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    background-color: #fff;
    transform: rotateY(0);
    transition: opacity 0.5s ease, transform 0.3s ease;
    visibility: hidden;
    opacity: 0;
  }
  
  .book-page.visible {
    visibility: visible;
    opacity: 1;
    transform: rotateY(180deg);
  }
  
  .book-navigation {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
  
  button {
    padding: 5px 10px;
    margin: 0 5px;
  }
  